<table class="tabela">
  <thead class="tabela__cabecalho">
    <th class="tabela__cabecalho__conteudo">Data</th>
    <th class="tabela__cabecalho__conteudo">Valor</th>
    <th class="tabela__cabecalho__conteudo">Destino</th>
  </thead>
  <tbody *ngIf="transferencias?.length > 0; else listaVazia">
    <tr class="tabela__linha" *ngFor="let transferencia of transferencias">
      <td tabela__conteudo>{{ transferencia?.data | date: "short" }}</td>
      <!-- Usando data pipe para escolher o formato de exibição da data-->
      <td tabela__conteudo>{{ transferencia?.valor | currency }}</td>
      <td tabela__conteudo>Destino: {{ transferencia?.destino }}</td>
    </tr>
  </tbody>
</table>
<ng-template #listaVazia>
  <p>Nenhuma transferência cadastrada</p>
</ng-template>
